<div class="row" >
  <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 p-2">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Student List
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 text-right p-2">
            <button class="btn btn-success" (click)="onAddStudentClick()">Add Student</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Country</th>
                  <th>Standard</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of studentList">
                  <td>{{item.firstName + ' ' +item.lastName}}</td>
                  <td>{{item.gender}}</td>
                  <td>{{item.address}}</td>
                  <td>{{item.city}}</td>
                  <td>{{item.state}}</td>
                  <td>{{item.countryName}}</td>
                  <td>{{item.standardName}}</td>
                  <td>
                  <!--<button class="btn btn-primary" (click)="onEditStudent(item.studentId)" >Edit</button> &nbsp;-->
                  <button class="btn  btn-danger" (click)="onDeleteStudent(item?.studentId)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
